<!--<div class="banniere">
	<div class="banniere-logo">
		<img src=" {{ asset('ressources/img/cc_transparent.png') | imagine_filter('logo')}}" height="80px" alt="logo">
	</div>
	<h1 class="banniere-titre">Le Blog de voyage</h1>
	<div class="banniere-info">
		<ul>
			<li>Mon blog</li>
			<li>est utile</li>
			<li>à tous</li>
		</ul>
	</div>
</div>

-->
<header id="head">
	<div class="container">
		<div class="row">
			<h1 class="lead">Un blog de voyage pour la famille.</h1>
			<p class="tagline">Comment partager notre passion du voyage <a href="http://www.gettemplate.com/?utm_source=progressus&amp;utm_medium=template&amp;utm_campaign=progressus">sur notre site</a></p>
			<p><a class="btn btn-default btn-lg" role="button">Plus d'infos</a> <a class="btn btn-action btn-lg" role="button">A suivre</a></p>
		</div>
	</div>
</header>
	<!-- /Header -->
