<div class="banniere">
	<div class="banniere-logo">
		<img src=" {{ asset('ressources/img/cc_transparent.png') | imagine_filter('logo')}}" height="80px" alt="logo">
	</div>
	<h1 class="banniere-titre">Le Blog de voyage</h1>
	<div class="banniere-info">
		<ul>
			<li>Mon blog</li>
			<li>est utile</li>
			<li>à tous</li>
		</ul>
	</div>
</div>
