<!DOCTYPE html>
<html>
	<head>
		{% include "includes/_meta.html.twig" %}

		<link rel="icon" href="{{ asset('/favicon.ico') }} "/>

		<title>
			{% block title %}
				Voyage Passion
			{% endblock %}
		</title>
		<!-- Bootstrap CSS -->
		<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<!-- Feuilles de style personnelles -->
		<link rel="stylesheet" href="{{ asset('ressources/css/theme.css')}}"> 
		{% block stylesheets %}{% endblock %}

		</head>
		<body>
			<main>
				{% block header %}
					<div class="blog-header">
						{% block banniere %}
							{% include "includes/_banniere.html.twig" %}
						{% endblock %}
					
						
						{% block menu %}

						{% endblock %}
					</div>
				{% endblock %}
				{% block body %}{% endblock %}


			</main>
			{% block javascripts %}{% endblock %}
			<!-- Bootstrap Bundle with Popper -->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
		</body>
	</html>
